/*DON`T TOUCH*/

a {
    text-decoration: none !important;
}

body {
    background: linear-gradient(#F5F5F5, #343a40);
}

/*FOOTER*/

.dark-footer {
    background: #343a40;
    border-top: 2px solid white;
}

/*VIEW POST*/

.block-description-post {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-title {
    text-align: center;
    margin: 30px;
    font-family: 'Merriweather', serif;
    font-size: 50px;
    letter-spacing: 1px;
    width: 100%;
    color: #465457;
}

.post-img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    box-shadow: 10px 10px 30px grey;
}

.post-time {
    text-align: right;
    margin: 3px;
    font-size: 15px;
    color: #465457;
}

.post-text {
    font-family: 'Merriweather', serif;
    letter-spacing: 1px;
}

/*MAIN PAGE*/

.main-card-title {
    text-align: center;
    font-family: 'Merriweather', serif;
    letter-spacing: 1px;
    width: 100%;
    color: #3F3A39;
}

.main-description-card {
    font-family: 'Merriweather', serif;
    color: #465457;
}

.main-image-card {
    padding: 5px;
    width: 100%;
}

.card-shadow {
    box-shadow: 10px 10px 30px grey;
}

.main-text {
    text-align: center;
    margin: 30px;
    text-shadow: 10px 10px 30px #BDBDBD;
}

.main-text .main-page-text {
    /*font-weight: bold;*/
    font-family: 'Merriweather', serif;
    letter-spacing: 1px;
    font-size: 70px;
}